################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/repo-netProg-current/v17/Browse.VC.opendb


.vscode

.vs